requests
numpy
pandas
chromadb
openai
datasets
pillow
python-dotenv
pymongo
tenacity
platformdirs
diskcache
graphviz
gdown
litellm
httpx
tqdm
torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0
comet_ml
transformers>=4.39.3
vllm>=0.5.5
